body {
  padding: 50px 20%;
  font-family: Merriweather, Georgia, serif;
}

h1, h2, h3, strong {	
	color: Plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px solid lightslategray;
}

hr {
    border: thin dotted lightslategray;
    width: 50%;
}

p {
    color: darkslategray;
}

h1 {
    text-transform: uppercase;
}

#big-achievement {
    color: red;
}

.italics {
    font-style:italic;
}
