body {
  padding-left:20%;  
  padding-right:20%;
}

h1, h2, h3, strong {	
	color: Plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px solid lightslategray;
}

hr {
    border: thin dotted lightslategray;
    width: 50%;
}

p {
    color: darkslategray;
    font-family: Georgia, serif;

}
